<ul>
  <% @articles.each do |article| %>
    <li>
      <%= article["title"] %>
      <%= article["subtitle"] %>
      <img src="<%= article["image"] %>" alt="<%= article["title"] %>" />
    </li>
  <% end %>
</ul>